Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/**/vimpc-*.o
src/.deps/
src/.dirstamp
src/buffer/.deps/
src/buffer/.dirstamp
src/config.h
src/config.h.in
src/mode/.deps/
src/mode/.dirstamp
src/stamp-h1
src/test/.deps/
src/test/.dirstamp
src/window/.deps/
src/window/.dirstamp
src/tags
vimpc
