" Copy this file to ~/.vimpcrc to use it
"
" Note: Comments are very basic and must be on their own line
echo Parsing config file

" Hide the help tab
tabhide help

" Set the default tab
set window browse

" Don't stop playing music when we quit
set nostoponquit

" If you connect in the config file you should try and do it as late as possible
" connect somehost someport

echo Config File Complete
