" Copy this file to ~/.vimpcrc to use it
"
" Note: Comments are very basic and must be on their own line
echo Parsing config file

" Hide the help tab
tabhide help

" Set the default tab
set window browse

" Don't stop playing music when we quit
set nostoponquit

" A silly example of an alias
" alias smiths deleteall; findartist! The Smiths; play 1

" An example map
" map the F key to change to the browse window, go to the first line and enter search mode
" map F :browse<C-M>gg/

" Connect to a specific host using the config file
" connect somehost someport

echo Config File Complete
